<div class="container">
    <div class="content">
        <p class="main-attraction">
            I turn your <span class="ideas-font" [ngStyle]="ideasStyle()">ideas</span> into <span
                class="code-font">Code!</span>
        </p>
        <div class="sidenote">
            <p>
                ~ hello, i'm <u> Harsh Sharma </u> a <u> Full Stack Developer </u>
            </p>
            <button class="buttons" routerLink="/my-work" skipLocationChange>Check out my Work</button>
        </div>
    </div>
    <div class="img-container">
        <img src="assets/main-profile-pic.jpg" alt="profile pic of Harsh Sharma">
    </div>
</div>
<!-- <div class="fixed-position">
    <p>Full Stack Developer</p>
</div> -->